{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-object-rest-spread",
        "react-hot-loader/babel",
        [
            "import",
            {"libraryName": "antd", "libraryDirectory": "lib", "style": "css"}
        ]
    ]
}
